header{
    background-color: rgb(66, 64, 64);
    height: 200 px;
    width:6000px;

   
}


.grey-right{
    background-color: rgb(182, 174, 174);
    position: absolute;
    height:1200px;
    width: 200px;
    right: 0px;
    display: inline-block;
}

.grey-left{
    background-color: rgb(182, 176, 176);
    height: 1200px;
    width: 200px;
    display: inline-block;
}

.black-bottom{
    background-color: black;
    height: 200 px;
    width: 100px;
    display: inline-block;
}